<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    <IfModule mod_expires.c>
        ExpiresActive On

        # Images
        ExpiresByType image/jpeg "access plus 14 days"
        ExpiresByType image/gif "access plus 14 days"
        ExpiresByType image/png "access plus 14 days"
        ExpiresByType image/webp "access plus 14 days"
        ExpiresByType image/svg+xml "access plus 14 days"
        ExpiresByType image/x-icon "access plus 14 days"

        # Video
        ExpiresByType video/mp4 "access plus 14 days"
        ExpiresByType video/mpeg "access plus 14 days"

        # CSS, JavaScript
        ExpiresByType text/css "access plus 14 days"
        ExpiresByType text/javascript "access plus 14 days"
        ExpiresByType application/javascript "access plus 14 days"

        # Others
        ExpiresByType application/pdf "access plus 14 days"
        ExpiresByType application/x-shockwave-flash "access plus 14 days"
    </IfModule>


</IfModule>
